@use 'tailwindcss/base';
@use 'tailwindcss/components';
@use 'tailwindcss/utilities';
@import 'material-icons/iconfont/material-icons.css';

body {
  font-family: 'Outfit', sans-serif;
  color: #ffffff;
  background-color: #18181b;
}

.base-card {
  @apply bg-neutral rounded-xl p-4 border border-neutral-600;
}
